
@using EM.Domain.Cidade
@{
    string title = ViewData["Title"] as string;
    ViewData["Title"] = string.IsNullOrEmpty(title) ? "Editar Aluno" : title;
}

@{
    string pageTitle = "Cadastro de Aluno";
    string buttonText = "Cadastrar";
    string action = "CadastroAluno";

    if (Model != null && Model.Matricula > 0)
    {
        pageTitle = "Editar Aluno";
        buttonText = "Salvar Alterações";
        action = "EditarAluno";
    }

    ViewData["Title"] = pageTitle;
}

<div class="text-center">
    <h1 class="display-4">@pageTitle</h1>
</div>

<form method="post" asp-controller="Aluno" asp-action="CadastroAluno">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" autocomplete="off" required placeholder="Nome Completo" value="@Model?.Nome">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDate">Data de Nascimento</label>
            <input type="date" class="form-control" id="inputDate" autocomplete="off" required value="@Model?.Nascimento.ToString("yyyy-MM-dd")">
        </div>

        <div class="form-group col-md-6">
            <label for="inputCPF">CPF</label>
            <input type="text" class="form-control" id="inputCPF" placeholder="XXX.XXX.XXX-XX" maxlength="14" autocomplete="off" value="@Model?.CPF">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputGender">Gênero</label>
            <select id="inputGender" class="form-control" required>
                <option value="" selected disabled hidden>Escolha o gênero</option>
                <option value="Masculino" >Masculino</option>
                <option value="Feminino" >Feminino</option>
            </select>
        </div>

        <div class="form-group col-md-5">
            <div class="form-group col-md-12">
                <label>Cidade</label>
                <select class="form-control" id="cidadeSelect">
                    <option value="" selected disabled hidden>Escolha a Cidade</option>
                    @foreach (var cidade in ViewBag.OpcoesCidades)
                    {
                        <option value="@cidade.Nome">@cidade.Nome (@cidade.Uf)</option>
                    }
                </select>
            </div>
        </div>

      


    </div>

    <button type="submit" class="btn btn-primary col-12">@buttonText</button>
    <a class="btn btn-secondary col-12" role="button" asp-controller="Aluno" asp-action="Index">Página Inicial</a>
</form>









