@{
    ViewData["Title"] = "Alunos Cadastrados";
}
<body>

    <div id="teste">
        <div>
            <div class="row">
                <div class="col-6">
                    <h1>Alunos Em Nosso Sistema</h1>
                </div>
                <div class="col-6 text-right">
                    <a role="button" class="btn btn-custom-edit align-content-center" asp-controller="Aluno" asp-action="CadastroAluno">Adicionar aluno</a>
                </div>
            </div>
        </div>


        <div>
            <h3>Opções de busca:</h3>
            <div class="form-row">
                <div class="col-2">
                    <select id="inputSearch" class="form-control">
                        <option value="" selected disabled hidden>Selecione a opção</option>
                        <option value="matricula">Matricula</option>
                        <option value="nome">Nome</option>
                        <option value="estado">Estado</option>
                        <option value="cidade">Cidade</option>
                    </select>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Pesquise" />
                </div>
                <div class="col text-end">
                    <a role="button" class="btn btn-custom-edit text-light">Buscar Aluno</a>
                </div>
            </div>
        </div>





        <div>

            <table class="table table-hover">
                <thead class="custom-header-color">
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="col-4">Nome Completo</th>
                        <th scope="col" class="text-center">CPF</th>
                        <th scope="col" class="text-center">UF</th>
                        <th scope="col" class="text-center">Data de Nascimento</th>
                        <th scope="col" class="text-center">Gênero</th>
                        <th scope="col" class="text-center">Administrar Aluno</th>
                    </tr>
                </thead>
                <tbody>



                  @*   @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center col-4">@item.Matricula</td>
                            <td class="text-center col-2">@item.Nome</td>
                            <td class="text-center col-2">@item.CPF</td>
                            <td class="text-center col-2">@item.Cidade</td>
                            <td class="text-center col-2">@item.Nascimento</td>
                            <td class="text-center col-2">@item.Sexo</td>
                            <td class="text-center">
                                <a role="button" class="btn btn-custom-edit text-light" asp-controller="Cidade" asp-action="EditarAluno"> <img src="~/Imagens/pencil.svg" />Editar</a>
                            </td>

                        </tr>
                    } *@

                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td>Mark Otto</td>
                        <td class="text-center">000.000.000-01</td>
                        <td class="text-center">SP</td>
                        <td class="text-center">00/00/2000</td>
                        <td class="text-center">Masculino</td>
                        <td>
                            <div>
                                <div class="text-center">
                                    <a role="button" class="btn btn-custom-edit text-light" asp-controller="Aluno" asp-action="EditarAluno"> <img src="~/Imagens/pencil.svg" />Editar</a>
                                    <a role="button" class="btn btn-custom-remove text-light" data-toggle="modal" data-target="#exampleModal"><img src="~/Imagens/trash.svg" />Excluir</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">2</th>
                        <td>Jacop Thorton</td>
                        <td class="text-center">000.000.000-02</td>
                        <td class="text-center">SP</td>
                        <td class="text-center">00/00/2001</td>
                        <td class="text-center">Masculino</td>
                        <td>
                            <div>
                                <div class="text-center">
                                    <a role="button" class="btn btn-custom-edit text-light" asp-controller="Aluno" asp-action="EditarAluno"> <img src="~/Imagens/pencil.svg" />Editar</a>
                                    <a role="button" class="btn btn-custom-remove text-light" data-toggle="modal" data-target="#exampleModal"><img src="~/Imagens/trash.svg" />Excluir</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row" class="text-center">3</th>
                        <td>Isabel Rooney</td>
                        <td class="text-center">000.000.000-03</td>
                        <td class="text-center">RJ</td>
                        <td class="text-center">00/00/2002</td>
                        <td class="text-center">Feminino</td>
                        <td>
                            <div>
                                <div class="text-center">
                                    <a role="button" class="btn btn-custom-edit text-light" asp-controller="Aluno" asp-action="EditarAluno"> <img src="~/Imagens/pencil.svg" />Editar</a>
                                    <a role="button" class="btn btn-custom-remove text-light" data-toggle="modal" data-target="#exampleModal"><img src="~/Imagens/trash.svg" />Excluir</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="d-flex justify-content-center w-100">
                            <img src="~/Imagens/alert.svg" id="imagemPerigo" alt="..." class="mw-100 mh-100">
                        </div> <br />
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Deseja excluir o aluno?</h4>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-custom-remove-confirm col 12">EXCLUIR</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>


